@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgba(111, 183, 199, 0.73);
    color: #ba290c;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    text-align: center;
}

.stopwatch {
    background-color: #fff;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 400px;
}

#display {
    font-size: 3em;
    margin-bottom: 20px;
    color: #333;
    font-weight: bold;
}

.buttons {
    margin-bottom: 20px;
}

button {
    padding: 10px 25px;
    font-size: 1em;
    cursor: pointer;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: left;
}

ul li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: #e9ecef;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
